<form method="POST" action="/new">
   <label for="msg">Message</label>
   <input  name="msg"/> </br>
   <label for="user">User</label>
   <input  name="user"/> </br>
   <button type="submit">Sumbit</button>
</form>

<a href="/">Go back</a>