<html>
    <title><%= title %></title>
    <body>
        <ul>
            <% for (let i=0;i<message.length;i++) { %>
                <li>
                    <% let url = "/" + message[i].id; %>
                    <p><%= message[i].text %> <a href="/messages/<%= message[i].id %>"><button>Open</button></a> </p>
                </li>
            <% }; %>
        </ul>
    </body>
</html>
